/* PAGE CONFIG */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   /* COLORS */
   --bg-color: #121214;
   --base-color: 220;
   --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
   --primary-color: hsl(var(--base-color), 100%, 63%);
   --txt-color: #ffffff;
   --error-alert-bg: red;

}

body {
   font-size: 1.6rem;
   font-family: "Roboto", sans-serif;
   background-color: var(--bg-color);
   color: var(--txt-color);
   display: grid;
   height: 100vh;
}

.hide {
   display: none;
}

input {
   background-color: transparent;
   border: none;
   width: 7rem;
   font-size: clamp(3.3rem, 3.3rem + 2vw, 6.6rem);
   color: var(--txt-color);
   outline: none;
   appearance: none;
   text-align: center;
}

.btn {
   cursor: pointer;
   background-color: transparent;
   border: none;
   color: white;
   transition: 0.2s;
}

svg {
   width: clamp(4rem, 4rem + 1vw, 8rem);
   height: clamp(4rem, 4rem + 1vw, 8rem);
}

.btn svg:hover {
   fill: var(--primary-color);
}

/* ERROR ALERT */
.empty-value-error {
   background-color: var(--error-alert-bg);
   height: 4.5rem;
   transition: 0.5s;
   transform: translateY(-100%);
}

.empty-value-error .error-msg {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 1rem;
}

/* TIMER CONTAINER */
.timer-container {
   display: grid;
   place-content: center;
   align-self: end;
}

/* TIMER NUMBERS */
.timer-time {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 4rem;
}

/* CONTROL TIMER */
.controls-area {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.8rem 0.5rem;
   border-radius: 9999rem;
   gap: 1.5rem;
   background-color: var(--bg-primary-light);
}

/* SOUND CONTENT */
.sound-container {
   display: grid;
   align-items: end;
   place-content: end;
   margin-right: 1rem;
}
